<ion-header class="oi" [translucent]="true" >
  <ion-toolbar >
    <ion-buttons slot="start" style="--background:#00FF7F;">
      <ion-menu-button style="--background:#00FF7F;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--background:#00FF7F;">MTGSmart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong><h1>MTGSmart</h1></strong>
    <p>Sistema pensado em você, para auxilia monitorar e aumenta a protutividade no seu negócio.  </p>
    <ion-img src="assets/img/mtgsmart.jpeg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </div>
   
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        monitoramentos
      </ion-tab-button>
      
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
