<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click) = "cliente()">
    <ion-button><ion-icon name="caret-back-outline"></ion-icon></ion-button>
  </ion-buttons>
  <ion-title>cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="sm=">add_cliente</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content id="container">
  <ion-item>
    <ion-label>Id.Usuario</ion-label>
    <ion-input placeholder="----" [(ngModel)]="IdCliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CPF:</ion-label>
    <ion-input placeholder="informe o cpf" type="number" [(ngModel)]="CPF"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nome:</ion-label>
    <ion-input placeholder="informe o nome" type="text" [(ngModel)]="Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefone:</ion-label>
    <ion-input placeholder="informe o telefone" type="number" [(ngModel)]="Telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input placeholder="nome@gmail.com" [(ngModel)]="Email"></ion-input>
  </ion-item>

  <ion-item>
    <div class="botao">
      <ion-button size="large" shape="round" (click)="salva()">Adicionar</ion-button>
    </div>
  </ion-item>
  
  <ion-tabs>
    <ion-toolbar class="oi">
      <ion-title>
        <ion-icon name="logo-whatsapp"></ion-icon>
        @MTGSmart
      </ion-title>
    </ion-toolbar>
  </ion-tabs>
</ion-content>